body{
    background-color: #17232A;
    background-image: radial-gradient(#fff3, transparent 50%);
  margin-top: -35px;
}
nav{
    display: flex;
    justify-content: space-between; 
    color: white;
    margin-left: 30px;
    font-size: 30px;
}
 h1{
    font-size: 40px;
    margin-top: 55px;

}
p{
    font-size: 35px;
    margin-right: 50%;
    margin-top: 90px;
}
 

span{
    font-size: 50px;
    color: rgb(79, 190, 190);
}
ul{ 
    justify-content: space-between;
   display: flex;
   margin-right: 10px;
}
ul li{
    list-style: none;
    margin-inline: 30px;
    margin-top: 30px;
  
    
}
ul li:hover{
   color: transparent;
}
.content {
  position: absolute;
  top: 40%;
  left: 20%;
}
.content h3{
    font-size: 30px;
    margin-left: 170px;
     
}
.content h1{
    font-size: 40px;
}
.abc h2{
   font-size: 40px;
   font-style: italic;
   justify-content: space-evenly;
margin-left: 80px;
}
.content{
  justify-content: center;
 margin-left: 25%;
margin-bottom:30%;
}
.content h1{
    font-size: 3.5rem;
}
.content h3{
    font-size: 30px;
    margin-right: 50%;
    
}
.content h2{
    font-size: 35px;
}
.content button{
  
    color: #17232A;
    background-color: rgb(100, 199, 202);
    border-radius: 10px;
    padding: 10px 20px;
    border: 2px solid rgb(8, 8, 7);
    font-size: 20px;
    justify-content: space-evenly;
    margin-top: 10px;

}
.content button:hover{
    color: transparent;
}
.image{
    width:250px;
    height: 250px;
    background-image: url(f2image.jpg);
    background-size: cover;
    background-position: center;
    justify-content: center;
    background-position: left;
    display: flex;
    border-radius: 480px;
    margin-left: 60px;
    

}
.image2{
    width:250px;
    height: 250px;
   
    background-image: url(f4image.png);
    background-size: cover;
    background-position: center;
    justify-content: center;
    display: flex;
    border-radius: 480px;
    transform: rotate(45deg);
    transition:transform 3s; 
   
}
.image3{
    width:250px;
    height: 250px;
    background-image: url(f5image.jpg);
    background-size: cover;
    background-position: center;
    justify-content: center;
    background-position: left;
    display: flex;
    border-radius: 480px;
    margin-left: 60px;
}
.button{
    display: flex;
    color: white;
    background-color: aquamarine;
    border-radius: 10px;
    padding: 10px 20px;

}
.decore{
    background-image: url(leaf2.jpeg);
}

